.mainText h4 {
        font-family: "Albra Grotesk Bold-Traced-Web", sans-serif;
        font-size: 1.5em;
        color: #13291c;
        margin: 0;
        margin-top: 1em;
}

.mainText p {
        margin: 0;
        margin-top: 0.5em;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 0.9em;
        color: #202020;
}

.mainText {
        margin-left: 2em;
        margin-right: 0.5em;


}

.MainContent {
        position: absolute;
        /* Position absolutely */
        top: 0;
        /* Adjust as needed */
        left: 0;
        /* Adjust as needed */
        z-index: 1;
        /* Higher z-index to overlap hero-section */
        background-color: #F2F1EB;
        border-radius: 1.5em;
        transition: top 0.6s ease;
        /* Smooth transition effect */
}